In [29]:
t=[0]
l=['p']
for i,c in zip(t,l):
    print(i,c)
    print(type(i))

0 p
<class 'int'>

In [13]:
c={'datapoints': [[None, 1588872960],
   [None, 1588873200],
   [None, 1588873440],[None, 1588873680]]}

In [23]:

for j in c[d]:
        print(j[0])

None
None
None
None

In [24]:
l = [[1, 2, 3], [4, 5, 6], [7], [8, 9]]

In [33]:
import pandas as pd
import numpy as np

crimes = [[{u'category': u'anti-social-behaviour',u'location': {u'latitude': u'52.309886',
u'longitude': u'0.496902'},u'month': u'2015-01'},{u'category': u'anti-social-behaviour',u'location': {u'latitude': u'52.306209',
u'longitude': u'0.490475'},u'month': u'2015-02'}]]

# format into a flat list
formatted_crimes = [[x['category'], x['location']['latitude'], x['location']['longitude']] for i in crimes for x in i]

# now pass the formatted list to DataFrame and label the columns
df = pd.DataFrame(formatted_crimes, columns=['Category', 'Latitude', 'Longitude'])

In [34]:
df

                Category   Latitude Longitude
0  anti-social-behaviour  52.309886  0.496902
1  anti-social-behaviour  52.306209  0.490475

In [35]:
c=[(1588874640, '4C72B000FA', None),
 (1588874880, '4C72B000FA', None),
 (1588875120, '4C72B000FA', None),
 (1588875360, '4C72B000FA', None),
 (1588875600, '4C72B000FA', None),
 (1588875840, '4C72B000FA', None),
 (1588876080, '4C72B000FA', None),
 (1588876320, '4C72B000FA', None),
 (1588876560, '4C72B000FA', None)]

In [47]:
for i in c:
    print(c[0][0],c[1][1])

1588874640 4C72B000FA
1588874640 4C72B000FA
1588874640 4C72B000FA
1588874640 4C72B000FA
1588874640 4C72B000FA
1588874640 4C72B000FA
1588874640 4C72B000FA
1588874640 4C72B000FA
1588874640 4C72B000FA

In [42]:
formatted_crimes

[1588874640,
 '4C72B000FA',
 None,
 1588874880,
 '4C72B000FA',
 None,
 1588875120,
 '4C72B000FA',
 None,
 1588875360,
 '4C72B000FA',
 None,
 1588875600,
 '4C72B000FA',
 None,
 1588875840,
 '4C72B000FA',
 None,
 1588876080,
 '4C72B000FA',
 None,
 1588876320,
 '4C72B000FA',
 None,
 1588876560,
 '4C72B000FA',
 None]

In [103]:
def count_code(str):
    x=["co"+i+"e" for i in str.lower()]
    ind=0
    count=0
    for i in x:
        if i in str[ind:]:
            ind=str.find(i)+1
            count+=1
        return count

In [134]:
count_code("coxe")
str.find(i)

coce
cooe
coxe
coee

3

In [139]:
def count_code(str):
    x=["co"+i+"e" for i in str.lower()]
    count = 0
    index = 0
    if i in x:
        print(i)
        if i in str[index:]:
#             index = str.find(i)+1
            count+=1
    return count

print(count_code('AAcodeBBcoleCCccoreDD')) # prints 1
# print count_code('codexxcode')  # prints 2
# print count_code('cozexxcope')  # prints 2

coae
coae
coce
cooe
code
coee
cobe
cobe
coce
cooe
cole
coee
coce
coce
coce
coce
cooe
core
coee
code
code
5

In [50]:
l=["instagram","facebook","twitter","youtube","linkden","snapchat"]
f=["100",200,15,0,23,25]

In [58]:
def socialmedia(num,acc,name):
    if num in f:
        print("valid")
    else:
        print("not valid")

In [60]:
socialmedia(200,"acc","name")

valid

In [122]:
str="coxe"
for i in str.lower():
    print(i)

c
o
x
e

In [129]:
 def count_code1(str):
        counts=0
        for i in range(97,123):   #all the lowercase ASCII characters
            counts+= str.count('co'+chr(i)+'e')
        return counts

In [130]:
count_code1("codecope")

2

In [29]:
x={'data':'filename'}

In [23]:
if ('filename' not in x[0][1])  or ("data" not in x[0][0]) :
    print ("message","please provide data","status","fail")

In [43]:
if ('filename'  in x.values())   :
    print ("message","please provide data","status","fail")

message please provide data status fail

In [40]:
x.keys()

dict_keys(['data'])